<?xml version="1.0" encoding="UTF-8"?>
<configuration>
	<substitutionProperty name="log.home" value="${user.dir}/logs" />

	<appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
		<encoder>
			<pattern>%date{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
		</encoder>
	</appender>

	<appender name="FILE" class="ch.qos.logback.core.FileAppender">
		<file>${log.home}/security-shiro.log</file>
		<append>false</append>
		<encoder>
			<pattern>%date{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
		</encoder>
	</appender>

	<!-- project default level -->
	<logger name="net.nifoo" level="DEBUG" />

	<!--log4jdbc -->
	<logger name="jdbc.sqltiming" level="INFO" />

	<root level="INFO">
		<appender-ref ref="CONSOLE" />
		<appender-ref ref="FILE" />
	</root>
</configuration>