simple {     
	com.sun.security.auth.module.KeyStoreLoginModule required debug=true
	keyStoreURL ="file:.\\target\\classes\\mykeystore";
}; 

krb5 {     
	com.sun.security.auth.module.Krb5LoginModule required useTicketCache=true doNotPrompt=false;
}; 

ntlm {     
	com.sun.security.auth.module.NTLoginModule required;
}; 